<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.giaidieu.luminance"
    version="0.2.1">
	
	<name>Luminance</name>
	<description>Realtime luminance values from the camera.</description>
	<keywords>camera,realtime,luminance,brightness</keywords>
	<license>MIT</license>
	<repo>https://github.com/giaidieu/luminance-cordova-ios.git</repo>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
            <feature name="Luminance">
				<param name="ios-package" value="Luminance"/>
				<param name="onload" value="true" />
           		</feature>
            	</config-file>

		<js-module src="www/luminance.js" name="Luminance">
			<clobbers target="Luminance"/>
		</js-module>
		
		<framework src="CoreVideo.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="JavaScriptCore.framework" />

		<source-file src="src/ios/Luminance.m"/>
		<header-file src="src/ios/Luminance.h"/>
	</platform>
</plugin>
